<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909040654663-rclo24e9km9phuegmq30l1s6rfaotqeb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909040654663-rclo24e9km9phuegmq30l1s6rfaotqeb</string>
	<key>API_KEY</key>
	<string>AIzaSyDy6uYfibsBuP6bXtAF_2eIFQC-5szVhoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>909040654663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-3b72e</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-3b72e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909040654663:ios:5e01ad8cb1c445495dd462</string>
</dict>
</plist>